body
{
	font-family: Georgia, Arial, Verdana, sans-serif;
	background-color: #C0DCFC;
	text-align: center;
	min-height: 100%;
	font-size: 20px;
}

h1
{
	background-color: #0C4382;
	color: #C0DCFC;
	font-style: oblique;
	font-family: Georgia;
	font-size: xx-large;
}

h5 {
    display: block;
    color : #0C4382;
    -webkit-margin-before: 1.4em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

input {
    background-color: white;
    cursor: auto;
    padding: 5px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-radius : 20px;
    text-align: center;
}

button {
	padding:10px 0 10px 0;
	border-radius:15px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#0C4382;
}